In [8]:
#1,2,3
import pandas as pd 
lol = [1,2,3]
lol2 = [1,6,4]
xd = pd.Series(lol)
xd2 = pd.Series(lol2)

resta = xd - xd2
print(resta)

0    0
1   -4
2   -1
dtype: int64

In [11]:
#5
diccio = {"a":10,"b":100,"c":100}
xd = pd.Series(diccio)
print(xd)

a     10
b    100
c    100
dtype: int64

In [21]:
#7
import pandas as pd

a = ["1", "7", "2",23]
a[1] = pd.to_numeric(a[1])

myvar = pd.Series(a[1])

print(myvar)

0    7
dtype: int64

In [29]:
#8
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
print(xd)
df = pd.Series("calories")
print(df)

a     10
b    100
c    100
dtype: int64
0    calories
dtype: object

In [30]:
#9
import pandas as pd

a = ["1", "7", "2",23]
xd = pd.Series(a)
lista = []
for i in xd:
    lista.append(i)
print(lista)

['1', '7', '2', 23]

In [33]:
#10
lista1=[1,2,3]
lista2= [4,5,6]
lista3=[4,8,9]
xd = lista1+ lista2+lista3
lol = pd.Series(xd)
print(lol)

0    1
1    2
2    3
3    4
4    5
5    6
6    4
7    8
8    9
dtype: int64

In [35]:
#11
import pandas as pd

a = [1, 7, 2,23]
xd = pd.Series(a)
xd.sort_values(ascending=True)

0     1
2     2
1     7
3    23
dtype: int64

In [43]:
#12
import pandas as pd

a = [1, 7, 2,23]
xd = pd.Series(a)
mop = [1,2,3,4]
xd2 = pd.Series(mop)

xd.append(xd2)

0     1
1     7
2     2
3    23
0     1
1     2
2     3
3     4
dtype: int64

In [1]:
#13
import numpy as np
import pandas as pd 
a = [1, 7, 2,23]
xd = pd.Series(a)
lol = xd.loc[xd > 5].tolist()
lol2 = pd.Series(lol)
print(lol2)

0     7
1    23
dtype: int64

In [76]:
#14
import pandas as pd
c = [1,7,2,23]
lol = pd.Series(c)
ser2 = lol.reindex(index = [3, 2, 1, 0])
print(ser2)

3    23
2     2
1     7
0     1
dtype: int64

In [1]:
#15import pandas as pd
c = [1,4]
lol = pd.Series(c)
mean = lol.mean()
std = lol.std()
print(std)
print(mean)

2.1213203435596424
2.5

In [12]:
#16-17
import pandas as pd

# Sample Series 1
series1 = pd.Series([1, 2, 3, 4, 5])

# Sample Series 2
series2 = pd.Series([3, 4, 6])

# Get items in series1 that are not present in series2
a = series1[~series1.isin(series2)]
b = series2[~series2.isin(series1)]
final = a.add(b,fill_value=0)

print("Items in Series 1 not present in Series 2:")
print(final)

Items in Series 1 not present in Series 2:
0    1.0
1    2.0
2    6.0
4    5.0
dtype: float64

In [30]:
#18
import pandas as pd

# Sample Series 1
series1 = pd.Series([4,3,2,1])
min(series1)
series1.quantile([.25, .5, .75])
max(series1)

4

In [41]:
#19
import pandas as pd
series1 = pd.Series([4,3,2,1,1,1])
counts = series1.value_counts().to_dict()
print(counts)

5

In [64]:
#20
import pandas as pd
series1 = pd.Series([4,3,2,1,15,5,55,5,5,5,5,1])
xd = []
mode = series1.mode()[0]
for x in series1:
    if x!= mode:
        xd.append(x)
print(xd)
for i in series1:
    if i != mode:
        series1 = series1.replace(xd,"Other")
print(series1)

[4, 3, 2, 1, 15, 55, 1]
0     Other
1     Other
2     Other
3     Other
4     Other
5         5
6     Other
7         5
8         5
9         5
10        5
11    Other
dtype: object

In [10]:
#21
import pandas as pd
series1 = pd.Series([4,3,2,1,15,5,55,5,5,5,5,1])
# Create a sample Series
# Get multiple items at once using a list of index labels
items_at_indexes_B_and_D = series1[[0, 1,6]]
print(items_at_indexes_B_and_D)

0     4
1     3
6    55
dtype: int64

In [16]:
#22
import pandas as pd
series1 = pd.Series([4,3,2,1,7,15,5,55,5,5,5,5,1])
series2 = pd.Series([4,7])
lista = []
for i in range(len(series1)):
    for x in range(len(series2)):
        if series1[i] == series2[x]:
            lista.append(i)
series3 = pd.Series(lista)
print(series3)

0    0
1    4
dtype: int64

In [19]:
#24
import pandas as pd
series = pd.Series(["hola","como","estas"])
def funcion(s):
    primer = s[0].upper()
    ultimo = s[-1].upper()
    final= primer + s[1:-1] + ultimo
    return final

s = series.apply(funcion)
print(s)

0     HolA
1     ComO
2    EstaS
dtype: object

In [21]:
#25
series = pd.Series(["hola","como","estas"])
lista = []
for i in range(len(series)):
    lista.append(len(series[i]))
final = pd.Series(lista)
print(final)

0    4
1    4
2    5
dtype: int64

In [22]:
#27
import pandas as pd
series = pd. Series(['12 July 2021', '04-01-2001', '20020101', '2000/09/09', '2020-05-18', '2021-08-08T14:35'])
result = pd. to_datetime(series)
print(result)

0   2021-07-12 00:00:00
1   2001-04-01 00:00:00
2   2002-01-01 00:00:00
3   2000-09-09 00:00:00
4   2020-05-18 00:00:00
5   2021-08-08 14:35:00
dtype: datetime64[ns]

In [26]:
#26
import pandas as pd
series = pd.Series([1,23,76,55])
first = series.diff()
print(first)

0     NaN
1    22.0
2    53.0
3   -21.0
dtype: float64

In [27]:
#28
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())
print("Day of week:")
print(date_series.dt.weekday_name.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [41]:
#29
import pandas as pd 
lista = []
series = pd.Series(["hola","como","estas","jmon","sgsgsg"])
for i in range(len(series)):
    contar = 0
    for x in series[i]:
        if x in "aeiou":
            contar += 1
    if contar >= 2:
        lista.append(series[i])
serie2 = pd.Series(lista)            
print(serie2)

0     hola
1     como
2    estas
dtype: object

In [48]:
#30
import pandas as pd
import numpy as np
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

In [6]:
#32
import pandas as pd 
x = pd.Series([1,2,6,4,2,4,87,4,2,3])
y = []
for i in range(1,len(x)-1):
    if x[i] > x[i+1] and x[i] > x[i-1]:
        y.append(x[i])
        
lol = pd.Series(y)
print(lol)

0     6
1    87
dtype: int64

In [38]:
#33
import pandas as pd

def replace_missing_spaces_with_least_frequent_char(input_string):
    # Count the frequency of each character
    char_counts = pd.Series(list(input_string)).value_counts()

    # Find the least frequent character
    least_frequent_char = char_counts.idxmin()

    # Replace missing white spaces with the least frequent character
    output_string = ''.join([char if char != ' ' else least_frequent_char for char in input_string])

    return output_string

# Sample input string
input_string = "Thi is a sampl string with missing spaces"

# Replace missing white spaces with the least frequent character
result_string = replace_missing_spaces_with_least_frequent_char(input_string)

print("Original String:")
print(input_string)

print("\nString after replacing missing white spaces:")
print(result_string)

Original String:
Thi is a sampl string with missing spaces

String after replacing missing white spaces:
Thieiseaesamplestringewithemissingespaces

In [42]:
#34
x = pd.Series([13.1251251,12.63463,-14.141,12.41])
x.autocorr()

-0.4799377261480947

In [ ]:
#35
import pandas as pd

def get_all_sundays(year):
    start_date = f"{year}-01-01"
    end_date = f"{year}-12-31"
    sundays = pd.date_range(start=start_date, end=end_date, freq='W-SUN')
    return sundays

# Replace '2023' with the desired year
year = 2023

# Get all the Sundays of the given year
sundays_series = get_all_sundays(year)

print("Sundays in the year", year, ":")
print(sundays_series)

In [10]:
#36
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
}
df = pd.DataFrame(data)

# Set a new index for the DataFrame
new_index = ['A', 'B', 'C', 'D']
df.index = new_index
df['Height'] = new_index


print(df)

      Name  Age Height
A    Alice   25      A
B      Bob   30      B
C  Charlie   22      C
D    David   28      D

In [11]:
#37
import pandas as pd
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))
print("Original Series:")
print(series1)
print(series2)
series1.append(series2)
df = pd.concat([series1, series2], axis=1)
print("\nStack two given series vertically and horizontally:")
print(df)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Stack two given series vertically and horizontally:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [16]:
#38
import pandas as pd 
serie1 = pd.Series([1,2,5,6,1,2,67])
serie2 = pd.Series([1,2,5,6,1,2,47])
lista = []
for i in range(len(serie1)):
    if serie1[i] == serie2[i]:
        lista.append(True)
    else:
        lista.append(False)
print(lista)

[True, True, True, True, True, True, False]

In [4]:
#39
import pandas as pd 
serie = pd.Series([1,2,5,6,2,1])
minimo = serie.min()
lista = []
for i in range(len(serie)):
    if serie[i] == minimo:
        lista.append(i)
        break
print(lista)

[0]

In [5]:
#40
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Sample Series with different index
series_data = [10, 20, 30, 40]
series = pd.Series(series_data, index=['X', 'Y', 'Z', 'W'])

# Check inequality over the index axis
inequality_df = df.index != series.index

print("DataFrame:")
print(df)
print("\nSeries:")
print(series)
print("\nInequality DataFrame:")
print(inequality_df)

DataFrame:
   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

Series:
X    10
Y    20
Z    30
W    40
dtype: int64

Inequality DataFrame:
[ True  True  True  True]