In [1]:
#1
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Default Index:")
print(df.head(10))
print("\nschool_code as new Index:")
df1 = df.set_index('school_code')
print(df1)
print("\nt_id as new Index:")
df2 = df.set_index('t_id')
print(df2)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

school_code as new Index:
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

In [2]:
#2
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id' and ‘school_code’:")
df1 = df.set_index(['t_id', 'school_code'])
print(df1)
print("\nMultiIndex using an Index and a column:")
df2 = df.set_index([pd.Index([0, 1, 2, 3, 4, 5]), 't_id'])
print(df2)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

MultiIndex using columns 't_id' and ‘school_code’:
                 class            name date_Of_Birth  weight  address
t_id school_code
t1   s001            V  Alberto Franco    15/05/2002      35  street1
t2   s002            V    Gino Mcneill    17/05/2002      32  street2
t3   s003           VI     Ryan Parkes    16/02/1999      33  street3
t4   s001           VI    Eesha Hinton    25/09/1998      30  street1
t5   s002            V    Gino Mcneill    11/05/2002      31  street2
t6   s004           VI    David Parkes    15/09/1997      32  street4

MultiIndex using an Index and a column:
       school_code class            name date_Of_Birth  weight  address
  t_id
0 t1          s001     V  Alberto Franco    15/05/2002      35  street1
1 t2          s002     V    Gino Mcneill    17/05/2002      32  street2
2 t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
3 t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
4 t5          s002     V    Gino Mcneill    11/05/2002      31  street2
5 t6          s004    VI    David Parkes    15/09/1997      32  street4

In [9]:
#3
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)
df = df.set_index(['weight'])
print("Nuevo index: ")
print(df)
df = df.reset_index()
print("Indice viejo de nuevo : ")
print(df)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6
Nuevo index:
       school_code class            name date_Of_Birth  address t_id
weight
35            s001     V  Alberto Franco    15/05/2002  street1   t1
32            s002     V    Gino Mcneill    17/05/2002  street2   t2
33            s003    VI     Ryan Parkes    16/02/1999  street3   t3
30            s001    VI    Eesha Hinton    25/09/1998  street1   t4
31            s002     V    Gino Mcneill    11/05/2002  street2   t5
32            s004    VI    David Parkes    15/09/1997  street4   t6
Indice viejo de nuevo :
   weight school_code class            name date_Of_Birth  address t_id
0      35        s001     V  Alberto Franco    15/05/2002  street1   t1
1      32        s002     V    Gino Mcneill    17/05/2002  street2   t2
2      33        s003    VI     Ryan Parkes    16/02/1999  street3   t3
3      30        s001    VI    Eesha Hinton    25/09/1998  street1   t4
4      31        s002     V    Gino Mcneill    11/05/2002  street2   t5
5      32        s004    VI    David Parkes    15/09/1997  street4   t6

In [10]:
#4
import pandas as pd
print("Create an Int64Index:")
df_i64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[1, 2, 3, 4, 5, 6])
print(df_i64)
print("\nView the Index:")
print(df_i64.index)

print("\nFloating-point labels using Float64Index:")
df_f64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[.1, .2, .3, .4, .5, .6])
print(df_f64)
print("\nView the Index:")
print(df_f64.index)

Create an Int64Index:
  school_code class            name date_Of_Birth  weight  address
1        s001     V  Alberto Franco    15/05/2002      35  street1
2        s002     V    Gino Mcneill    17/05/2002      32  street2
3        s003    VI     Ryan Parkes    16/02/1999      33  street3
4        s001    VI    Eesha Hinton    25/09/1998      30  street1
5        s002     V    Gino Mcneill    11/05/2002      31  street2
6        s004    VI    David Parkes    15/09/1997      32  street4

View the Index:
Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

Floating-point labels using Float64Index:
    school_code class            name date_Of_Birth   weight  address
0.1        s001     V  Alberto Franco     15/05/2002      35  street1
0.2        s002     V    Gino Mcneill     17/05/2002      32  street2
0.3        s003    VI     Ryan Parkes     16/02/1999      33  street3
0.4        s001    VI    Eesha Hinton     25/09/1998      30  street1
0.5        s002     V    Gino Mcneill     11/05/2002      31  street2
0.6        s004    VI    David Parkes     15/09/1997      32  street4

View the Index:
Float64Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6], dtype='float64')

In [27]:
#5
import pandas as pd
print("Create an Interval Index using IntervalIndex.from_breaks:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},
                            index = pd.IntervalIndex.from_breaks(
                            [0, 0.5, 1.0, 1.5, 2.0, 2.5, 3, 3.5]))    
print(df_interval)
print(df_interval.index)

Create an Interval Index using IntervalIndex.from_breaks:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]],
              closed='right',
              dtype='interval[float64]')

In [28]:
#6
import pandas as pd
print("Create a dataframe, indexing by date and time:")

dt_range = pd.date_range(start ='2020-05-12 07:10:10', freq ='S', periods = 10) 
df_dt = pd.DataFrame({"Sale_amt":[100, 110, 117, 150, 112, 99, 129, 135, 140, 150]},
                            index = dt_range)
print(df_dt)

Create a dataframe, indexing by date and time:
                     Sale_amt
2020-05-12 07:10:10       100
2020-05-12 07:10:11       110
2020-05-12 07:10:12       117
2020-05-12 07:10:13       150
2020-05-12 07:10:14       112
2020-05-12 07:10:15        99
2020-05-12 07:10:16       129
2020-05-12 07:10:17       135
2020-05-12 07:10:18       140
2020-05-12 07:10:19       150

In [31]:
#7
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                                index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
df.index.name = 'Index_name'
print("\nSaid DataFrame with a title or name of the index column:")
print(df)

Original DataFrame:
   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V    Gino Mcneill    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4

Said DataFrame with a title or name of the index column:
           school_code class            name date_Of_Birth  weight  address
Index_name
t1                s001     V  Alberto Franco    15/05/2002      35  street1
t2                s002     V    Gino Mcneill    17/05/2002      32  street2
t3                s003    VI     Ryan Parkes    16/02/1999      33  street3
t4                s001    VI    Eesha Hinton    25/09/1998      30  street1
t5                s002     V    Gino Mcneill    11/05/2002      31  street2
t6                s004    VI    David Parkes    15/09/1997      32  street4

In [45]:
#8
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                                index = ['t1', 't2', 't3', 't4', 't5', 't6'])
df.loc["t2","name"] = "XD"
print(df)

   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V              XD    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4

In [ ]:
#9
import pandas as pd

# Sample data for the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 27, 29],
    'Score': [85, 92, 78, 95, 88],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}
index = [2,3,7,2,3]
# Create a DataFrame from the sample data
df = pd.DataFrame(data,index)

# Print the DataFrame
df["lol"] = index
print(df)

In [ ]:
#10
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id', ‘school_code’ and 'class':")
df1 = df.set_index(['t_id', 'school_code', 'class'])
print(df1)
print("\nConvert 1st and 3rd levels in the index frame into columns:")
df2 = df1.reset_index(level=['t_id', 'class'])
print(df2)

In [43]:
#12
import pandas as pd 
xd = [ ["bar", "lol"],
    ["one", "two"] 
    ]

tuples = list(zip(*xd))


index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

s = pd.Series(xd, index=index)
s

[('bar', 'one'), ('lol', 'two')]
[['bar', 'lol'], ['one', 'two']]

first  second
bar    one       [bar, lol]
lol    two       [one, two]
dtype: object

In [58]:
#11
import pandas as pd

# Create a sample DataFrame with a single column index
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df_single = pd.DataFrame(data)

# Create a sample DataFrame with a multi-column index
data_multi = {'Index1': ['A', 'A', 'B', 'B', 'C'],
              'Index2': ['X', 'Y', 'X', 'Y', 'X'],
              'Value': [1, 2, 3, 4, 5]}
df_multi = pd.DataFrame(data_multi).set_index(['Index1', 'Index2'])

# Specified value to check
target_value = 3

# Check if the specified value exists in the single column index DataFrame
if target_value in df_single['A'].values:
    print(f"Value {target_value} exists in the single column index DataFrame.")
else:
    print(f"Value {target_value} does not exist in the single column index DataFrame.")

# Check if the specified value exists in the multi-column index DataFrame
if target_value in df_multi['Value'].values:
    print(f"Value {target_value} exists in the multi-column index DataFrame.")
else:
    print(f"Value {target_value} does not exist in the multi-column index DataFrame.")

Value 3 exists in the single column index DataFrame.
Value 3 exists in the multi-column index DataFrame.

In [46]:
#13
import pandas as pd

# Create a sample dictionary with data
data = {
    ('A', 'X'): [1, 2, 3],
    ('B', 'Y'): [4, 5, 6],
    ('C', 'Z'): [7, 8, 9]
}
print(data.keys())
# Create a MultiIndex from the keys of the dictionary
multi_index = pd.MultiIndex.from_tuples(data.keys(), names=['Column', 'Index'])

# Create a DataFrame using the MultiIndex levels as columns and index
df = pd.DataFrame(data.values(), columns=multi_index, index=['Row1', 'Row2', 'Row3'])

# Print the resulting DataFrame
print(df)

dict_keys([('A', 'X'), ('B', 'Y'), ('C', 'Z')])
Column  A  B  C
Index   X  Y  Z
Row1    1  2  3
Row2    4  5  6
Row3    7  8  9

In [56]:
#14
import pandas as pd

# Create a sample dictionary with data
data = {
    ('A', 'X'): [1, 2, 3],
    ('B', 'Y'): [4, 5, 6],
    ('C', 'Z'): [7, 8, 9]
}
print(data.keys())
# Create a MultiIndex from the keys of the dictionary
index = pd.Index(['a', 'b', 'c'], name='Index')
df = pd.DataFrame(data, index=index)

# Create a DataFrame using the MultiIndex levels as columns and index

df.loc[('a')]

dict_keys([('A', 'X'), ('B', 'Y'), ('C', 'Z')])

A  X    1
B  Y    4
C  Z    7
Name: a, dtype: int64

In [68]:
#15
import pandas as pd

# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
index = pd.MultiIndex.from_tuples([('X', 'a'), ('X', 'b'), ('Y', 'c'), ('Y', 'd'), ('Z', 'e')],
                                  names=['Index_1', 'Index_2'])
df = pd.DataFrame(data, index=index)
index.set_levels(['b1','c1',1,4,6],level=1,inplace=True)

print(df)

                 A   B
Index_1 Index_2
X       b1       1   6
        c1       2   7
Y       1        3   8
        4        4   9
Z       6        5  10

In [20]:
#16
import pandas as pd

# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
index = pd.MultiIndex.from_tuples([('X', 'a'), ('>', 'b'), ('H', 'c'), ('Y', 'd'), ('Z', 'e')],
                                  names=['Index_1', 'Index_2'])
df = pd.DataFrame(data, index=index)
df.sort_values([('A')], ascending=True)
df.sort_values([('B')], ascending=True)

                 A   B
Index_1 Index_2
X       a        1   6
>       b        2   7
H       c        3   8
Y       d        4   9
Z       e        5  10

In [24]:
#17
import pandas as pd

# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)
row_indices = [1, 3]  # Indices of rows to extract
rows = df.iloc[row_indices]
print(rows)
# Extract elements at specific positional indices along the columns axis (axis=1)
column_indices = [0]  # Indices of columns to extract
columns = df.iloc[:, column_indices]
print(columns)

   A  B
1  2  7
3  4  9
   A
0  1
1  2
2  3
3  4
4  5

In [26]:
#18
ds = {"day1": 420, "day2": 380, "day3": 390}
ds1 = pd.Series(ds)
print(ds1[0])

420

In [30]:
#19
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)
df.iloc[[1]]

   A  B
1  2  7

In [50]:
#20
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
index = pd.Index(['a', 'b', 'c',"d","e"], name='Index')
df = pd.DataFrame(data,index=index)
lol = df.A[df.A == 3].index.tolist()
print(lol)
print(df)

['c']
       A   B
Index
a      1   6
b      2   7
c      3   8
d      4   9
e      5  10

In [57]:
#21
import pandas as pd

# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
index = pd.MultiIndex.from_tuples([('X', 'a'), ('>', 'b'), ('H', 'c'), ('Y', 'd'), ('Z', 'e')],
                                  names=['Index_1', 'Index_2'])
df = pd.DataFrame(data,index=index)

df.droplevel(0)

         A   B
Index_2
a        1   6
b        2   7
c        3   8
d        4   9
e        5  10

In [61]:
#22
import pandas as pd

# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}


df = pd.DataFrame(data)
df.insert(loc = 2, column="C", value = [23,76,2,2,7])
print(df)

   A   B   C
0  1   6  23
1  2   7  76
2  3   8   2
3  4   9   2
4  5  10   7

In [62]:
#23
import pandas as pd

# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}


df = pd.DataFrame(data)
print(df.to_string(index=False))

 A   B
 1   6
 2   7
 3   8
 4   9
 5  10

In [73]:
#24
import pandas as pd
import numpy as np
# Sample data for a MultiIndex levels DataFrame
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 7, 8, 89, np.nan]}

df = pd.DataFrame(data)
null = df[df.isnull().any(axis=1)]
print(null)

     A    B
0  1.0  NaN
2  NaN  8.0
4  5.0  NaN

In [ ]:
#25